<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head :: head(title = 'I.R.I.S. Add Wiki Page', includeMetaForIndexing = false)}"></th:block>
</head>
<body>
<header>
    <th:block th:insert="~{fragments/header :: header(title = 'I.R.I.S. Add Wiki Page')}"></th:block>
</header>
<main>
    <section>
        <form th:action="@{/admin/add-wiki}" method="post">
            <label>
                <input type="text" name="title" placeholder="Title" required>
            </label>
            <br>
            <label>
                <textarea name="content" rows="4" cols="50" placeholder="Text" required></textarea>
            </label>
            <br>
            <label>
                <!-- das untere und auskommetierte input wurde in ein select (dropdown) geändert -->
                <!-- <input name="url"> -->
                <select id="image-select" name="url">
                    <option value="">Wähle ein Bild aus</option>
                    <option th:each="image : ${images}" th:value="@{/{image}(image=${image})}" th:text="${image}"></option>
                </select>

                <img id="image-preview" src="" alt="Vorschau"
                 style="display: none; width: 100%; height: 100%; border: 1px solid #ccc; margin-top: 10px;">

                <script>
                    document.getElementById("image-select").addEventListener("change", function() {
                    let preview = document.getElementById("image-preview");
                    if (this.value) {
                        preview.src = this.value;
                        preview.style.display = "block";
                    } else {
                        preview.style.display = "none";
                    }
                });
                </script>
            </label>
            <br>
            <button type="submit" class="submit-button">Add Wiki entry</button>
        </form>
    </section>
</main>
</body>
</html>
