<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{fragments/head :: head(title = 'I.R.I.S. Reset Password')}"></head>
</head>
<body>
<header>
    <h1>Reset Password</h1>
</header>
<main>
    <section>
        <form th:action="@{/admin/reset-password}" method="post">
            <label for="oldPassword">Altes Passwort:</label>
            <input type="password" id="oldPassword" name="oldPassword" required>
            <label for="newPassword">Neues Passwort:</label>
            <input type="password" id="newPassword" name="newPassword" required>
            <button type="submit">Reset Password</button>
        </form>
    </section>
</main>
<footer>
    <p>&copy; 2025 Trademark</p>
</footer>
</body>
</html>
