<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{fragments/head :: head(title = 'I.R.I.S. Login')}"></head>
</head>
<body>
<header>
    <div class="nav-container">
        <div class="logo-title">
            <a th:href="@{/}">
                <img th:src="@{/IRIS_logo.png}" alt="Logo" class="logo">
            </a>
            <div class="header-text">
                <p>I.R.I.S.</p>
            </div>
        </div>
            <div>
                <a th:href="@{/blog}" class="button">Blog</a>
            </div>
        </div>
    </div>
</header>
<main>
    <section>
        <h2>Login</h2>
        <div th:if="${param.error}">
            <p style="color: red;">Falscher Nutzername oder Passwort!</p>
        </div>
        <form action="/login" method="post">
            <div>
                <label for="username">Nutzername:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Passwort:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="submit-button">Login</button>
        </form>
    </section>
</main>
<footer>
</footer>
</body>
</html>
