<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head :: head(title = 'I.R.I.S. Login', includeMetaForIndexing = true)}"></th:block>
</head>
<body>
<header>
    <th:block th:insert="~{fragments/header :: header(title = 'I.R.I.S. Login')}"></th:block>
</header>
<main>
    <section>
        <h2>Login</h2>
        <div th:if="${param.error}">
            <p style="color: red;">Falscher Nutzername oder Passwort!</p>
        </div>
        <form action="/login" method="post">
            <div>
                <label for="username">Nutzername:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Passwort:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="submit-button">Login</button>
        </form>
    </section>
</main>
<footer>
</footer>
</body>
</html>
