<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{fragments/head :: head(title = 'I.R.I.S. Register')}"></head>
    <script th:src="@{/js/register.js}" defer></script>
</head>
<body>
<header>
    <div class="logo-title">
        <a th:href="@{/}">
            <img th:src="@{/IRIS_logo.png}" alt="Logo" class="logo">
        </a>
        <div class="header-text">
            <p>Welcome to Our Website</p>
        </div>
    </div>
</header>
<main>
    <section>
        <h2>Register</h2>
        <form action="/api/register" id="registerForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit" class="submit-button">Register</button>
        </form>
    </section>
</main>
<footer>
</footer>
</body>
</html>
