<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head :: head(title = 'I.R.I.S. Register', includeMetaForIndexing = true)}"></th:block>
    <script th:src="@{/js/register.js}" defer></script>
</head>
<body>
<header>
    <th:block th:insert="~{fragments/header :: header(title = 'I.R.I.S. Register')}"></th:block>
</header>
<main>
    <section>
        <h2>Register</h2>
        <form action="/api/register" id="registerForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit" class="submit-button">Register</button>
        </form>
    </section>
</main>
<footer>
</footer>
</body>
</html>
